body {
  background-color: #eee;
}

div.jumbotron > .container {
  max-width: 800px;
  margin: 0 auto;
}

.chat-container .btn-group-vertical button {
  margin-bottom: 20px;
}

.chats-list button {
  margin-bottom: 2px;
}

.create-chat-from button {
  margin-right: 5px;
}

.main-chat-screen form.form-inline {
  margin-left: 15px;
}

.main-chat-screen .page-header h1 {
  font-size: 32px;
}
.main-chat-screen .message-input {
  min-width: 250px;
}

.main-chat-screen p.message-text {
  margin-bottom: 0;
}

.main-chat-screen .clearfix {
  line-height: 0;
}

.main-chat-screen p.message-text .badge {
  font-size: 20px;
}

.main-chat-screen p.message-text .badge.pull-right {
  background-color: #fff;
  color: #666;
}

.dropdown-menu li.disabled {
  opacity: 0.5;
}
